*{
/*   border: solid 1px; */
  position: relative;
}
body, html{
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #d1d1d1;
}

img{
  width: 60px;
  height: 60px;
  margin-left: 15px;
}

.nav{
  background-color: rgb(250, 50, 81);
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
}

.login{
  padding: 10px;
  position: fixed;
  right: 30px;
  top: 0px;
  font-size: 30px;
  color: white;
  font-family: 微軟正黑體;
  transition-duration: 0.4s;
  cursor: pointer; cursor: hand;
}
.login:hover{
  background-color: #f9062b;
  border-radius: 10px;
}

.workCard{
  margin: 10px;
  margin-top: 80px;
  
  width: 360px;
  height: 240px;
  
  display: inline-block;
  
  background-color: #eee;
  border: solid 0.25px rgba(0, 0, 0, 0.05);
  border-top: solid 5px #f24;
  border-bottom: solid 5px #f24;
  border-radius: 6px;
  
  box-shadow: 0px 23px 15px -20px rgba(0, 0, 0, 0.3);
}

.work{
  display: inline-block;
  
  width: 320px;
  height: 120px;
  
  margin-left: 20px;
  margin-top: 20px;
  
  font-size: 40px;
  font-family: 微軟正黑體;
  font-weight: 800;
}
.dueDate{
  display: inline-block;
  
  width: 320px;
  
  margin-left: 20px;
  margin-top: 5px;
  
  font-family: 微軟正黑體;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
}
.button{
  display: inline-block;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.7);
  font-family: 微軟正黑體;
  padding: 0px 10px;
  margin-top:18px; 
  transition-duration: 0.4s;
  cursor: pointer; cursor: hand;
}
.button:hover{
  background-color: #f24;
  color: white;
  border-radius: 3px;
}

.delBtn{
  margin-left:0px;
  
  border-left: solid 2px  rgba(0, 0, 0, 0.3);
}

.editBtn{
  margin-left:105px;
  margin-right:0px;

  border-right: solid 2px  rgba(0, 0, 0, 0.3);
}

.workEdit{
  width: 320px;
  height: 120px;
  
  margin-left: 20px;
  margin-top: 20px;
  
  border-radius: 4px;
  border: solid 0.5px rgba(0, 0, 0, 0.1);
  
  resize: none;
  
  font-size: 30px;
  
  transition: 0.08s;
  outline: none;
}
.workEdit:focus{
  border: solid 2px #f24;
}

.dateEdit{
  width: 320px;
  
  margin-left: 20px;
  
  border-radius: 4px;
  border: solid 0.5px rgba(0, 0, 0, 0.1);
  
  transition: 0.08s;
  outline: none;
}
.dateEdit:focus{
  border: solid 2px #f24;
}

.saveBtn{
  margin-left: 140px;
}

.add{
  display: inline-block;
  position: fixed;
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: 60px;
  border-radius: 100%;
  right: 50px;
  bottom: 50px;
  background-color: #f24;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer; cursor: hand;
}